@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Outfit:wght@100..900&display=swap");

@import "tailwindcss";
@import "tw-animate-css";

:root {
  --avatar-beige: #a7958b;
  --avatar-gold: #bfad76;
  --avatar-yellow: #e7d3a7;
  --avatar-peach: #f0b694;
  --avatar-gray: #c2c2bb;

  --black: #0e0e0e;
  --gray-dark: #606060;
  --gray-base: #828282;
  --gray-light: #e5e5e5;
  --gray-lighter: #f4f4f4;
  --gray-lightest: #f9f9f9;

  --white-base: #ffffff;

  --toast-red-light: #fbe9e7;
  --toast-red-base: #e64a19;
  --toast-red-dark: #bf360c;

  --toast-green-light: #f9fbe7;
  --toast-green-base: #cddc39;
  --toast-green-dark: #827717;

  --font-bungee: "Bungee", cursive;
  --font-outfit: "Outfit", sans-serif;
}

@theme inline {
  --color-avatar-beige: var(--avatar-beige);
  --color-avatar-gold: var(--avatar-gold);
  --color-avatar-yellow: var(--avatar-yellow);
  --color-avatar-peach: var(--avatar-peach);
  --color-avatar-gray: var(--avatar-gray);

  --color-black: var(--black);
  --color-gray-dark: var(--gray-dark);
  --color-gray-base: var(--gray-base);
  --color-gray-light: var(--gray-light);
  --color-gray-lighter: var(--gray-lighter);
  --color-gray-lightest: var(--gray-lightest);

  --color-white-base: var(--white-base);

  --color-toast-red-light: var(--toast-red-light);
  --color-toast-red-base: var(--toast-red-base);
  --color-toast-red-dark: var(--toast-red-dark);

  --color-toast-green-light: var(--toast-green-light);
  --color-toast-green-base: var(--toast-green-base);
  --color-toast-green-dark: var(--toast-green-dark);

  --font-bungee: var(--font-bungee);
  --font-outfit: var(--font-outfit);
}

@layer base {
  * {
    @apply bg-white-base text-black font-outfit;
  }
}
